@import url(assets/css/normilaze.css);

@font-face {
    font-family: 'FuturaPT-Medium';
    src:
        url('assets/fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Bold';
    src:
        url('assets/fonts/FuturaPT-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Book';
    src:
        url('assets/fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.background-auhtorization img {
    width: 50vw;
    height: 100vh;
    object-fit: cover;
}

h1 {
    font-family: 'FuturaPT-Bold',
        sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    color: #292929;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

.form-auhtorization {
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.form-auhtorization label {
    font-family: 'FuturaPT-Book',
        sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 21px;
    color: #292929;
    padding-left: 10px;
}

.form-auhtorization input {
    border: 1px solid #E9E8E9;
    box-sizing: border-box;
    border-radius: 8px;
    height: 48px;
    padding-left: 15px;
    width: 100%;
    outline: none;
}

.form-auhtorization input[type=password] {
    letter-spacing: 5px;
}

.form-auhtorization input:active,
.form-auhtorization input:focus {
    border: 1px solid #01466F;
}

.form-auhtorization input:invalid:not(:focus):not(:placeholder-shown),
.form-auhtorization input:invalid:not(:focus):not(:placeholder-shown)~.requirements {
    color: #E77162;
    border: 1px solid #E77162;
    opacity: 1;
}

.requirements {
    opacity: 0;
    font-family: 'FuturaPT-Medium',
        sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    border: none !important;
    padding-top: 10px;
    text-align: center;
}

.form-auhtorization button {
    background: #01466F;
    border-radius: 8px;
    border: none;
    padding: 13px;
    font-family: 'FuturaPT-Medium',
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    outline: none;
}

.form-auhtorization button:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        #01466F;
}

@media (max-width:450px) {
    h1 {
        font-size: 38px;
    }

    b {
        font-size: 14px;
    }
}